# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
.env/

# Experiment artifacts
logs/
outputs/
checkpoints/
mlruns/

# External dependencies
external/

# OS
.DS_Store

# IDE
.vscode/

*.egg-info/
